In [17]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-03-07 03:28:35,-9.8000,-139.0333,78.67,78,33,12.41
1,1,Puerto Ayora,EC,2022-03-07 03:28:36,-0.7393,-90.3518,76.64,84,81,3.78
2,2,Bac,RS,2022-03-07 03:28:36,45.3919,19.2367,33.93,99,100,4.09
3,3,Sari,IR,2022-03-07 03:28:37,36.5633,53.0601,47.79,93,100,13.80
4,4,Talnakh,RU,2022-03-07 03:28:37,69.4865,88.3972,-25.83,96,24,2.39

In [19]:
city_data_df = city_data_df.dropna()
city_data_df.count()

City_ID       590
City          590
Country       590
Date          590
Lat           590
Lng           590
Max Temp      590
Humidity      590
Cloudiness    590
Wind Speed    590
dtype: int64

In [20]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-03-07 03:28:35,-9.8000,-139.0333,78.67,78,33,12.41
1,1,Puerto Ayora,EC,2022-03-07 03:28:36,-0.7393,-90.3518,76.64,84,81,3.78
5,5,Sechura,PE,2022-03-07 03:28:38,-5.5569,-80.8222,75.07,71,95,4.83
7,7,Rikitea,PF,2022-03-07 03:28:39,-23.1203,-134.9692,79.45,77,100,17.27
9,9,Port Elizabeth,ZA,2022-03-07 03:28:40,-33.9180,25.5701,73.09,88,0,2.30
10,10,Mar Del Plata,AR,2022-03-07 03:24:36,-38.0023,-57.5575,68.09,90,75,15.01
13,13,Bredasdorp,ZA,2022-03-07 03:28:41,-34.5322,20.0403,66.27,75,99,6.58
15,15,San Patricio,US,2022-03-07 03:28:42,28.0170,-97.5169,73.38,93,23,14.45
17,17,Mayo,US,2022-03-07 03:28:43,38.8876,-76.5119,73.35,64,75,8.05
18,18,Saint-Philippe,RE,2022-03-07 03:28:43,-21.3585,55.7679,78.39,86,100,15.73

In [27]:
preferred_cities_df.count()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Atuona      PF     78.67  -9.8000 -139.0333
1     Puerto Ayora      EC     76.64  -0.7393  -90.3518
5          Sechura      PE     75.07  -5.5569  -80.8222
7          Rikitea      PF     79.45 -23.1203 -134.9692
9   Port Elizabeth      ZA     73.09 -33.9180   25.5701
10   Mar Del Plata      AR     68.09 -38.0023  -57.5575
13      Bredasdorp      ZA     66.27 -34.5322   20.0403
15    San Patricio      US     73.38  28.0170  -97.5169
17            Mayo      US     73.35  38.8876  -76.5119
18  Saint-Philippe      RE     78.39 -21.3585   55.7679

In [29]:
import requests

gmap_nearbysearch_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

for i, j in hotel_df.iterrows():
    
    lat = j['Lat']
    lng = j['Lng']
    location = f"{lat},{lng}"
    
    # Set parameters to search for a hotel.
    params = {
        "radius": 5000,
        "type": "lodging",
        "key": g_key,
        "location": location
    }
    
    # Make request and get the JSON data
    hotel_response = requests.get(gmap_nearbysearch_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[i, "Hotel Name"] = hotel_response["results"][0]["name"]
        print("Found Hotel: " + hotel_response["results"][0]["name"])
    except (IndexError): 
        print("No hotel found...skipping.")

Found Hotel: Villa Enata
Found Hotel: Finch Bay Galapagos Hotel
Found Hotel: Hospedaje Costa Bella
Found Hotel: People ThankYou
Found Hotel: 39 On Nile Guest House
Found Hotel: Gran Hotel Mar del Plata
Found Hotel: Bredasdorp Country Manor
Found Hotel: Motel 6 Sinton, TX
Found Hotel: Resorts Resource Group International
Found Hotel: Chambres d'hôte "La Trinité"
Found Hotel: Sea Lounge! Bar, Club & Restaurant
Found Hotel: Los encuentros
Found Hotel: Hotel Sugam Lodging
Found Hotel: Radisson Blu Hotel Waterfront, Cape Town
Found Hotel: Misty Waves Boutique Hotel
Found Hotel: Sun City Restaurant
No hotel found...skipping.
Found Hotel: Hotel Carioca
Found Hotel: Quality Inn Near Joint Base Andrews-Washington Area
Found Hotel: Case de Passage De la Prefecture
Found Hotel: Tora Coastal Walk
Found Hotel: Sheraton Kauai Coconut Beach Resort
Found Hotel: Yas Hostel
Found Hotel: Linwood Motel
Found Hotel: Makkah Clock Royal Tower, A Fairmont Hotel
Found Hotel: Atlantis Hotel
No hotel found...skipping.
Found Hotel: Nuevo Hotel Plaza
Found Hotel: Shellharbour Resort & Conference Centre
Found Hotel: Hotel San Juan
Found Hotel: Riviera Royal Hotel
Found Hotel: The Shingles Riverside Cottages
Found Hotel: The Halyards Hotel
No hotel found...skipping.
Found Hotel: Hotel Xaguate
Found Hotel: St Ives Hobart Accommodation Tasmania
Found Hotel: Axim Beach Resort And Spa
Found Hotel: Ramada by Wyndham Gatesville N. Fort Hood
Found Hotel: Pirineos
Found Hotel: Green Grass Hotel & Restaurant (Pvt) Ltd.
Found Hotel: Auberge Angle Sur
Found Hotel: Ahipara Holiday Park
Found Hotel: Hotel El Recreo
Found Hotel: Daru Lodge
Found Hotel: Girls Hostel- Govt Debendra College
Found Hotel: Thanda Vista B&B
Found Hotel: Benin Metropole Hotel
Found Hotel: Courtyard by Marriott Danbury
Found Hotel: Casa Dora, Bubaque
Found Hotel: Residencial Karime
Found Hotel: residency of N.B vadhel
Found Hotel: JM Lodge
Found Hotel: Sibeko Resident
Found Hotel: The Bungalow Sawtell
Found Hotel: Hotel GSA
No hotel found...skipping.
Found Hotel: Paraiso Escondido
Found Hotel: Tu Casa
No hotel found...skipping.
Found Hotel: Lamu House
Found Hotel: Clarion Inn
Found Hotel: Hilo Hawaiian Hotel
Found Hotel: Hotel Arrarte
Found Hotel: Hotel Kou-Bugny
Found Hotel: 龙海钻石大酒店
Found Hotel: Baghdad Hotel
No hotel found...skipping.
Found Hotel: Hotel Plaza Poncitlan
Found Hotel: Hotel Cristal
Found Hotel: Pousada Porto Praia
Found Hotel: POUSADA TRAVÉS'CIA
Found Hotel: InterContinental Riyadh, an IHG Hotel
Found Hotel: Hotel Tesoro Los Cabos
Found Hotel: Annexe Vatsy Hôtel
Found Hotel: Nuba Nile
Found Hotel: Sunset Inn
Found Hotel: Pousada dos Navegantes
Found Hotel: The Esplanade Resort & Spa
No hotel found...skipping.
Found Hotel: Hotel Kawissa Saurimo
Found Hotel: Courtyard by Marriott Harlingen
Found Hotel: INN CORNER RIVER - PRADO - BAHIA - HOUSING AND HOTEL
Found Hotel: janelas do mar
No hotel found...skipping.
Found Hotel: Whispering Bamboo Cove Resort
Found Hotel: Hotel Pekassa De Karche
Found Hotel: Marriott's Ko Olina Beach Club
Found Hotel: Bothabelo Bed and Breakfast
Found Hotel: Nathaniel's Lodge
Found Hotel: Rydges Port Macquarie
Found Hotel: অধ্যক্ষ ইকবাল মোজাদ্দেদী সাহেব এর বাড়ি
Found Hotel: Bushido Lodge
Found Hotel: HOTEL TREAT RESIDENCY
Found Hotel: Mini Hotel Central
Found Hotel: Pousada Porto De Canoas
Found Hotel: HOSTAL "THE YELLOW HOUSE"
Found Hotel: BON Hotel Waterfront Richards Bay
Found Hotel: The Commodore
Found Hotel: Paradise Hotel
Found Hotel: Pousada Tia Amélia
Found Hotel: Samoma lodge
Found Hotel: Quality Inn Calera I-65 Exit 231
Found Hotel: Hotel Emperador Guapí
Found Hotel: Hospitality Esperance
Found Hotel: Paradise Bay Resort
No hotel found...skipping.
Found Hotel: Oyster Bay House Rental
No hotel found...skipping.
Found Hotel: Hosteria Sampedro
Found Hotel: Hotel Posada San Jose
Found Hotel: Cj's Travellers Inn
Found Hotel: Orient Apartments
Found Hotel: Hotel Castelo
Found Hotel: Hotel Ponta Verde Maceió
Found Hotel: Curubo Hotel
No hotel found...skipping.
Found Hotel: Hotel Mirage
Found Hotel: Oceano
Found Hotel: Hôtel Le Dronmi
Found Hotel: Butterfly Beach Hotel
No hotel found...skipping.
Found Hotel: Novotel Dakar
Found Hotel: INN NEW HORIZON
Found Hotel: Euskadi Hotel
Found Hotel: Hotel San Isidro Oficial
Found Hotel: Holiday Inn Express Antofagasta, an IHG Hotel
Found Hotel: Hotel Caribe
Found Hotel: Six Acres Bed & Breakfast
No hotel found...skipping.
Found Hotel: Aldea del Bazar Hotel and Spa
Found Hotel: Pousada Tropical
No hotel found...skipping.
Found Hotel: Hotel Villa Kitzia Huacho
Found Hotel: Posada Lilia
Found Hotel: Hotel Kamana
Found Hotel: Gweta Lodge
Found Hotel: hotêl doufoulougou
Found Hotel: Blue Bay Lodge
Found Hotel: Derogongan Residence
Found Hotel: Four Points by Sheraton Melville Long Island
Found Hotel: Fakhamat Al Orjoana Apartment
Found Hotel: CHACARA BAILLY
Found Hotel: Hotel Arena Blanca
Found Hotel: Urbanizacion Casa Real
Found Hotel: Xintiandi Business Hotel
Found Hotel: فندق ميس إيجيبت Miss Egypt Hotel
No hotel found...skipping.
Found Hotel: Nussyba
Found Hotel: Codrington Gardens Bed And Breakfast
No hotel found...skipping.
Found Hotel: Hotel Flamingo
No hotel found...skipping.
Found Hotel: Flat Temporada
Found Hotel: hotel la terminal
Found Hotel: Hotel Pousada Sollar - Martinópolis-SP
Found Hotel: Blue Rock Resort
Found Hotel: Lords Inn Somnath
Found Hotel: Halane Hotel and Restaurent
Found Hotel: Paviesh Park
Found Hotel: Shiri shayam welding warks
Found Hotel: Mövenpick Qassim
Found Hotel: Praia Hotel Imbituba
Found Hotel: Hotel Ravinala
Found Hotel: 安琪酒店
Found Hotel: Lorengau Harbourside Hotel
Found Hotel: SEGAYA PROPERTY
Found Hotel: Delano Hotel, Bahir Dar
Found Hotel: Hampton Inn Memphis/Collierville
Found Hotel: Villa Bella
Found Hotel: Sandpiper Motel
Found Hotel: Red Sea Hotel
Found Hotel: OYO 1577 Hotel Shree Hari Grand
Found Hotel: Havens Billiard Hall
Found Hotel: Rancho das Pedras Hotel
Found Hotel: Casa do Ian😎
Found Hotel: Hotel Peace Land Ishigakijima
Found Hotel: Chez Roger
No hotel found...skipping.
Found Hotel: Fuente del Guania Hotel de Lujo
Found Hotel: Pousada Calu
Found Hotel: Getúllio Hotel
Found Hotel: "Plantation Bed and Breakfast
Found Hotel: Salinas Park Resort Maçarico AP101
Found Hotel: HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Found Hotel: ENTERPRISE INN POLIFORUM
Found Hotel: Lanchonete e Hotel Cortesia
Found Hotel: Amerian Catamarca Park Hotel
Found Hotel: Moon light Furnished Units
Found Hotel: Dillon Express Inn
Found Hotel: The Mills House Wyndham Grand Hotel
Found Hotel: Hotel West
Found Hotel: Hotel Panamericano
Found Hotel: Hospedaje Paraíso
Found Hotel: Caacupeii Jhugua Rey
Found Hotel: JABIR HOTEL
Found Hotel: Abaco Beach Resort
Found Hotel: Centre Des Ressources DPENA
Found Hotel: Zahid Bhai Home
Found Hotel: Aritana
Found Hotel: Hotel Piesta
Found Hotel: 茂名中汇时尚酒店
Found Hotel: LT Aparthotel
Found Hotel: Screensaver
No hotel found...skipping.

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,78.67,-9.8000,-139.0333,Villa Enata
1,Puerto Ayora,EC,76.64,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Sechura,PE,75.07,-5.5569,-80.8222,Hospedaje Costa Bella
7,Rikitea,PF,79.45,-23.1203,-134.9692,People ThankYou
9,Port Elizabeth,ZA,73.09,-33.9180,25.5701,39 On Nile Guest House
...,...,...,...,...,...,...
579,Trinidad,BO,74.23,-14.8333,-64.9000,Hotel Piesta
581,Dongzhen,CN,77.32,22.3797,110.9389,茂名中汇时尚酒店
582,Praya,CV,68.54,14.9215,-23.5087,LT Aparthotel
590,Harper,LR,79.36,4.3750,-7.7169,Screensaver
591,Beloha,MG,73.40,-25.1667,45.0500,

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))